*{
    font-family: tahoma;
    font-weight: bold;
  }
  body {
    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2013/04/08/72764/f73e64a335cd42e644231b978926fe6e.jpg")
  }
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .contact-info {
    text-color: White;
  }
  p {
    font-weight: bold;
    font-family: tahoma;
  }
  .well {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
  .container-fluid {
    background-color: rgba(255, 255, 255, 0.4);
  }
  h3 {
    font-weight: bold;
    font-family: tahoma;
    text-align: center;
  }
  .col-sm-4 {
    text-align: center;
  }
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.4) !important;
  }
  footer {
    font-weight: bold;
    color: black;
  }