.hero {
    font-family: 'Raleway', sans-serif;
}

#contentArea {
    font-family: 'Rubik', sans-serif;
}


#contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li {
    display: inline;
}

/* .card .card-content {
    width: 400px;
    height:  200px;
} */