.hero {
    font-family: 'Raleway', sans-serif;
}

.box {
    font-family: 'Rubik', sans-serif;
}


#contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li {
    display: inline;
}

.features {
    padding: 5rem 0;
  }